<!-- begin:header -->
<div id="header" class="heading" style="background-image: url(img/img01.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="page-title">
          <h2>Team</p>
        </div>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Team</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end:header -->

<div class="blog-title">
  <h2>Team</h2>
</div>

<div class="the-team">
  <div class="row container-realestate">
    <div class="col-md-4">
      <div class="team-container">
        <div class="team-image">
          <img src="img/EH-Team.png" alt="the team - mikha realestate theme">
        </div>
        <div class="team-description">
          <h3>Ernesto Humpierres <small>CEO</small></h3>
          <p>Imagine a world in which renting an apartment was as seamless as buying an airplane ticket, that future is not far away.</p>
          <div class="team-social">
            <span><a href="https://twitter.com/ehumpierres" target="_blank" title="Twitter" rel="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a></span>
            <span><a href="https://www.linkedin.com/pub/ernesto-humpierres/18/a3b/709/" target="_blank" title="LinkedIn" rel="tooltip" data-placement="top"><i class="fa fa-linkedin"></i></a></span>
          </div>                       
        </div>
      </div>
    </div>
    <!-- break -->
    <div class="col-md-4">
      <div class="team-container">
        <div class="team-image">
          <img src="img/AH-Team.png" alt="the team - mikha realestate theme">
        </div>
        <div class="team-description">
          <h3>Armando Hurtado <small>Product</small></h3>
          <p>Gone are the days when users had to make a trade-off between cost and quality. Modern products must be superb AND cheap.</p>
          <div class="team-social">
            <span><a href="https://twitter.com/armandomhurtado" target="_blank" title="Twitter" rel="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a></span>
            <span><a href="https://www.linkedin.com/pub/armando-hurtado/25/9b9/690" target="_blank" title="LinkedIn" rel="tooltip" data-placement="top"><i class="fa fa-linkedin"></i></a></span>
          </div>                       
        </div>
      </div>
    </div>
    <!-- break -->
    <div class="col-md-4">
      <div class="team-container">
        <div class="team-image">
          <img src="img/EC-Team.png" alt="the team - mikha realestate theme">
        </div>
        <div class="team-description">
          <h3>Eduardo Cortejoso <small>Lead Architect</small></h3>
          <p>Technology is here to empower us, to become a tool we can wield to reach our highest potential. It's our job to put the tools to good use to make our lives better.</p>
          <div class="team-social">
            <span><a href="https://twitter.com/ed_corte" target="_blank" title="Twitter" rel="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a></span>
            <span><a href="https://www.linkedin.com/pub/eduardo-cortejoso/55/a5/433" target="_blank" title="LinkedIn" rel="tooltip" data-placement="top"><i class="fa fa-linkedin"></i></a></span>
          </div>                       
        </div>
      </div>
    </div>
    <!-- break -->
    <div class="col-md-4">
      <div class="team-container">
        <div class="team-image">
          <img src="img/CA-Team.png" alt="the team - mikha realestate theme">
        </div>
        <div class="team-description">
          <h3>Clara Arroyave <small>CMO</small></h3>
          <p>No matter how good or cool you think your technology is, if you can't sell it it's just a pet project. Monetization does matter.</p>
          <div class="team-social">
            <span><a href="https://twitter.com/lifeisrocknroll" target="_blank" title="Twitter" rel="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a></span>
            <span><a href="https://www.linkedin.com/in/claraarroyave" target="_blank" title="LinkedIn" rel="tooltip" data-placement="top"><i class="fa fa-linkedin"></i></a></span>
          </div>                       
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="team-container ">
        <div class="team-image">
          <img src="img/JR-Team.png" alt="the team - mikha realestate theme">
        </div>
        <div class="team-description">
          <h3>Jhon Roa <small>VP of Engineering</small></h3>
          <p>Team work is our key driver to success. We can only change the future for the better if we can combine our talents effectively.</p>
          <div class="team-social">
            <span><a href="https://twitter.com/jhonjairoroa87" title="Twitter" target="_blank" rel="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a></span>
            <span><a href="https://www.linkedin.com/in/jhonjairoroa87" title="LinkedIn" target="_blank" rel="tooltip" data-placement="top"><i class="fa fa-linkedin"></i></a></span>
          </div>                       
        </div>
      </div>
    </div>
    <!-- break -->
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57086445-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>