
    <!-- begin:service -->
    <div id="service">
      <div class="container expert-container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-container">
              <div class="service-content">
                <img src="http://www.sfu.ca/olc/sites/default/files/linkedin6.jpg" style="height:400px; width:400px">
              </div>
            </div>
          </div>
          <!-- break -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-container-text">
              <div class="service-content">
                <p class="expert-info">Finding a place to live in a new city can be overwhelming, that's why we combine cutting edge technology with the assistance that only a knowledgeable local can provide. We take all the hassle and risk out of your apartment search for a flat fee of: </p>
                <p style = "font-size:20px;"><b>$149</b></p>
                <p class="expert-info">
                This service includes:
                </p>
                <ul>
                <li><p class="expert-info">Live phone consultations</p></li>
                <li><p class="expert-info">Verification of listings and management of communications with landlords and agents</p></li>
                <li><p class="expert-info">Booking showings for you or even scouting places on your behalf</p></li>
                <li><p class="expert-info">Managing the landlord requirements and related paperwork if you are remote</p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="expert-button-container">
          <div class="container">
            <table class="expert-table">
            <tr>
              <td>
                <button type="submit" name="submit" class="btn btn-success btn-block" ng-click="onClickInterested();">Connect me with my search assistant</button>
                <!-- <a href="#/expert" class="signup" ng-click="onClickInterested();" data-toggle="modal" data-target="#modal-contact">Find me a personal search assistant</a> -->
              </td>
              <!-- <td>
                <button type="submit" name="submit" class="btn btn-success btn-block" ng-click="redirectToProcess();">Continue</button>
              </td> -->
            </tr>
            </table>            
          </div>
        </div>

        

      </div>  
    </div>
    <!-- end:service -->

</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57086445-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>