<div>
<h2>{{listing[0]}}</h2>
<br>
<div id="mainContent">
    <table>
        <tr>
        <td>Price: {{listing[2]}}</td>
        </tr>
        <tr>
        <td>Bedroom: {{listing[4]}}</td>
        </tr>
        <tr>
        <td>Bathroom: {{listing[5]}}</td>
        </tr>
    </table>
    <br>
    <img src="{{listing[3]}}">
    <br>
    <br>
     **AVAILABLE 1/1/15**

* Hardwood Floors
* Lots of Closet Space
* Nice Bathroom
* Great Location
* Heat & Hot Water Included

Close to T, shops, bars, and restaurants!

***Don't hesitate to call/text Ryan Kelly from Modern Real Estate show contact info to set up a showing, or to inquire about one of the thousands of apartments in my database!
Or fill out this easy rental form online
https://ryanmodern.wufoo.com/forms/zrpg8b71vv8kv9/

Only a fraction of my properties are on craigslist! I also have listings in/close to: Allston, Brighton, Brookline, Cambridge, Fenway, Kenmore, Mission Hill, Back Bay, South End, Beacon Hill, Boston University, Emmanuel, Simmons, Northeastern, Emerson, Berklee, Mass Art, Longwood, Wheelock, Suffolk, Newbury College, Wentworth, MCPHS, Boston Conservatory, Northeastern and more!


</div>
<!--
<table  class="table table-striped">
    <tr ng-repeat="row in rows | filter : search"  ng-class="{'muted':isTemp($index)}">
    <td>{{$index+1}}</td>
    <td>{{row[0]}}</td>
    <td><a href="http://{{row[1]}}">{{row[1]}}</a></td>
    <td>
        <button class="btn btn-danger btn-mini" ng-click="deleteRow(row)" ng-hide="isTemp($index)"><i class="icon-trash icon-white"></i></button>
    </td>
    </tr>
</table>
-->

</div>