<div>
<h2>{{selectedListing.title}}</h2>
<br>
<div id="mainContent">
    <input type="button" value="Back" ng-click="redirecToListingList();" />
    <table>
        <tr>
        <td>Price: {{selectedListing.price}}</td>
        </tr>
        <tr>
        <td>Address: {{selectedListing.address}}</td>
        </tr>
        <tr>
        <td>Bedroom: {{selectedListing.bedroom}}</td>
        </tr>
        <tr>
        <td>Bathroom: {{selectedListing.bathroom}}</td>
        </tr>
    </table>
    <br>
    <img src="{{selectedListing.photo}}">
    <br>
    <br>
     {{selectedListing.description}}
</div>
<!--
<table  class="table table-striped">
    <tr ng-repeat="row in rows | filter : search"  ng-class="{'muted':isTemp($index)}">
    <td>{{$index+1}}</td>
    <td>{{row[0]}}</td>
    <td><a href="http://{{row[1]}}">{{row[1]}}</a></td>
    <td>
        <button class="btn btn-danger btn-mini" ng-click="deleteRow(row)" ng-hide="isTemp($index)"><i class="icon-trash icon-white"></i></button>
    </td>
    </tr>
</table>
-->

</div>