<div>
  <h2>Socrex Listings</h2>
  <h2>{{rows2.length}} Listing{{plural(rows)}} <span ng-show="temp">?<small class="muted"><em > (only {{rows2.length-1}} actually....)</em></small></span></h2>
  <form class="form-horizontal">
  <input type="button" value="search" ng-click="filterListings();" />
  </form>
  <table  class="table table-striped">
    <tr>
    <td></td>
    <td>Address</td>
    <td>Link</td>
    <td>Price</td>
    <td>Bedroom</td>
    <td>Bathroom</td>
    <td>Photo</td>
    <td>Details</td>
    </tr>
    <tr ng-repeat="row in rows2 | filter : search"  ng-class="{'muted':isTemp($index)}">
      <td>{{$index+1}}</td>
      <td>{{row.address}}</td>
      <td><a href="{{row.url}}">{{row.url}}</a></td>
      <td>{{row.price}}</td>
      <td>{{row.bedroom}}</td>
      <td>{{row.bathroom}}</td>
      <td><img src="{{row.photo}}" height="80" width="80"></td>
      <td><input type="button" value="details" ng-click="getDetailedListing('{{row._id.$oid}}');"></td>
    </tr>
  </table>
</div>