<!-- begin:modal-contact -->
<div class="modal fade" id="modal-thanks" tabindex="-1" role="dialog" aria-labelledby="modal-contact" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Thank you!</h4>
        <p>Thanks! Expect a call from us shortly. Please feel free to keep on browsing.</p>
      </div>
    </div>
  </div>
</div>
<!-- end:modal-contact -->